/* Setup the fonts */
@font-face {
  font-family: "League Spartan";
  src: url("../assets/fonts/League_Spartan/LeagueSpartan-VariableFont_wght.ttf");
  font-weight: 500;
  font-style: normal;
}

/* Set all elements box sizing */
*, *::before, *::after{
  box-sizing: border-box;
}
/* Declare general classes */
.flex-container-col{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.flex-container-row{
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Style the body */
body{
  margin: 0;
  font-family: 'League Spartan', sans-serif;
  font-size: 15px;
}
/* Set the basic elements layout */
.container , .section-1, .section-2, .section-3{
  text-align: center;
}
/* Set the main style */
.main{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
}
/* Set the rating images */
.section-2 > ul > li::before{
  content: "";
  background-image: url(../images/icon-star.svg);
  background-repeat: space no-repeat;
  background-size: 15px;
  width: 89px;
  height: 15px;
}